@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,700;0,900;1,900&family=Libre+Baskerville:wght@700&family=Noto+Sans+Chorasmian&family=Poppins:wght@400;500;600&family=Righteous&family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

.items__main {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}

.items__main > hr {
   border-top: 0.05px solid rgba(128, 128, 128, 0.5);
}

.items__main > .main__title  {
    padding: 0px 0px 40px 0px;
    .items__title{
        font-size: 35px;
        text-transform: capitalize;
        font-family: 'Libre Baskerville', serif
    }
    .items__count{
        color: gray;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin-left: .5rem;
    }
}

.main__title > hr {
    width: 100%;
    height: .1px;
    margin: auto;
    margin-top: 2em;
    background-color: gray;
}

.main__title > .filter-btn {
    display: flex;
    place-items: center;
    margin-top: 2em;
    width: 5%;
    justify-content: space-evenly;
    cursor: pointer;
}


.main__title > .filter-btn > span {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.cards {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    gap: 0px 50px;
    justify-content: center;
}

.error-message {
    text-align: center;
    width: 300%;
}


.filter-message{
    display: flex;
    place-items: center;
    margin-top: 2em;
    width: 30%;
}
.nofilter-message {
    align-items: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

    &::before{
        content: '*';
    }
}