@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,700;0,900;1,900&family=Libre+Baskerville:wght@700&family=Noto+Sans+Chorasmian&family=Poppins:wght@400;500;600&family=Righteous&family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

.cardDetail-container {
    /* background-color: #ededed6a; */
    width: 100%;
    padding-top: 0.01em ;
    height: 87.7vh;
    .cardDetail-grid{
        margin-top: 3rem;
        display: grid;
        column-gap: 100px;
        justify-content: center;
        grid-template-columns: 0.2fr 0.5fr;
    }
}

.cardDetail-grid > .detail-image > img {
    width: auto;
    height: 750px;
    object-fit: contain;
}

.cardDetail-grid > .detail-info > .info-category {
    text-transform: uppercase;
    color: gray;
    font-family: 'Poppins', sans-serif;
}

.cardDetail-grid > .detail-info > h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: .0em;
}

.cardDetail-grid > .detail-info > .info-price {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.cardDetail-grid > .detail-info > .info-payment {
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
}

.cardDetail-grid > .detail-info > .info-star {
    font-family: 'Poppins', sans-serif;
    margin-top: .1em;
    margin-bottom: 2.5em;
}

.cardDetail-grid > .detail-info > hr {
    width: 100%;
    padding: .003rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.426);
}

.cardDetail-grid > .detail-info > .info-delivery {
    width: 100%;
    height: 100px;
    place-items: center;
    display: flex;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    .icon{
        fill: rgb(37, 75, 37);
    }
}

.cardDetail-grid > .detail-info > .info-size {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 2rem;
}

.cardDetail-grid > .detail-info > .sizeList{
    display: flex;
    width: 60%;
    margin: auto;
}

.cardDetail-grid > .detail-info > .sizeList > li {
    border: 1px solid black;
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    width: 50px;
    height: 50px;
}

.cardDetail-grid > .detail-info > .sizeList > .active {
    background-color: rgb(31, 31, 31);
    color: #fff;
}

.cardDetail-grid > .detail-info > button > .detail-box {
    width: 650px;
    margin-top: 2em;
    height: 60px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    place-content: center;
    place-items: center;
    display: flex;
    background-color: rgb(31, 31, 31);
    &:hover{
        background-color: rgb(64, 64, 64);
    }
}
  
  